@import './reset.less';
.layout{
  max-width: 640px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  >.pyg_header{
      height: 45px; 
      padding: 5px;  
  }
  >.pyg_content{
    flex: 1;
    background-color: #444;
  }
  >.pyg_footer{
    background-color: red;
    height: 45px;
  }
}